@page "/Ayuda"


<CustomBreadCrumb Path=@(new Dictionary<string, string>(){
                  { "Ayuda","" },
                  }) />

<h1 class="mt-2">Bienvenido al Registro de Licitadores</h1>
<h3>Una plataforma pensada para estar m&aacute;s cerca.</h3>
<hr />
@* 
<div class="row" style="margin-top: 50px">
    <div class="row pb-3">
        <div class="col-6 ps-3 pe-3 ">
            <h3>Que hacer al ingreso por primera vez</h3>
            <div class="ratio ratio-16x9 w-75">
                <iframe src="https://drive.google.com/file/d/1DAsumD0TeJwAFgH3zmL5e5xNVb1Qt-SQ/preview " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-6 ps-3 pe-3">
            <h3>Como actualizar información de mi empresa</h3>
            <div class="ratio ratio-16x9 w-75">
                <iframe src="https://drive.google.com/file/d/10TJEytnjmghyKXtG0wO8R4BhN9sga-wd/preview" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="row pb-3">
        <div class="col-6 ps-3 pe-3 ">
            <h3>Actualizar Info</h3>
            <div class="ratio ratio-16x9 w-75">
                <iframe src="https://drive.google.com/file/d/10TJEytnjmghyKXtG0wO8R4BhN9sga-wd/preview " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-6 ps-3 pe-3">
            <h3>Login</h3>
            <div class="ratio ratio-16x9 w-75">
                <iframe src="https://drive.google.com/file/d/1dO72Re65kurNJTpoDcvmIpLoCu-CTtBg/preview" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>


    <div class="row pb-3">
        <div class="col-6 ps-3 pe-3 ">
            <h3>Mapa Evaluador</h3>
            <div class="ratio ratio-16x9 w-75">
                <iframe src="https://drive.google.com/file/d/1eGUD0MjgDa15wx3dgTpqtJiK8UsewYd1/preview " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-6 ps-3 pe-3">
            <h3>Mapa usuario Admin</h3>
            <div class="ratio ratio-16x9 w-75">
                <iframe src="https://drive.google.com/file/d/1kiKTdr0xPIf83kuTc7eCiAdo2lWob7wQ/preview" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>


    <div class="row pb-3">
        <div class="col-6 ps-3 pe-3 ">
            <h3>Mapa Usuario Empresa</h3>
            <div class="ratio ratio-16x9 w-75">
                <iframe src="https://drive.google.com/file/d/1j8f_gDspaeN0R2ecgyAixjHzKYuRdbyu/preview " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-6 ps-3 pe-3">
            <h3>Menú</h3>
            <div class="ratio ratio-16x9 w-75">
                <iframe src="https://drive.google.com/file/d/1_eF60UKY6do83qgz5syqV9x_T_AJHGGg/preview" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="row pb-3">
        <div class="col-6 ps-3 pe-3 ">
            <h3>Se Aprueba Trámite</h3>
            <div class="ratio ratio-16x9 w-75">
                <iframe src="https://drive.google.com/file/d/1wbFMEBt8KCUHzywHqhBKCbfB4PGlPjwa/preview " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-6 ps-3 pe-3">
            <h3>Se Aprueba y se Firma Certif.</h3>
            <div class="ratio ratio-16x9 w-75">
                <iframe src="https://drive.google.com/file/d/1c3I2IfJzQnfeesMNI5VcRdR-ePlfQcuR/preview" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="row pb-3">
        <div class="col-6 ps-3 pe-3 ">
            <h3>Se Carga Trámite</h3>
            <div class="ratio ratio-16x9 w-75">
                <iframe src="https://drive.google.com/file/d/1jH-xjn09c9Q8bVB-iekLMf9QFMStNtbK/preview " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-6 ps-3 pe-3">
            <h3>Se Notifica Trámite</h3>
            <div class="ratio ratio-16x9 w-75">
                <iframe src="https://drive.google.com/file/d/1_YPOJdFRRN7C9DGsEo8oRNvXNU3S5dPv/preview" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="row pb-3">
        <div class="col-6 ps-3 pe-3 ">
            <h3>Se Pide Certif.</h3>
            <div class="ratio ratio-16x9 w-75">
                <iframe src="https://drive.google.com/file/d/1Y3yjY9xX8SOEggdrLVwgP7xmq51UdphH/preview " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        
    </div>

</div>

 *@