@page "/NotImplementedAnonymous"
@layout AnonymousLayout

 <div class="position-absolute start-50 translate-middle text-center" style="margin-top:220px">
    <i class="mdi mdi-book-cancel" style="font-size: 128px;"></i>
    <h1 class="display-3">En desarrollo</h1>
</div>
