<div class="d-flex flex-row justify-content-end align-items-center">
    <div class="spinner-border text-primary" role="status"></div>
    <label class="ms-1">@Text</label>
</div>

@code {
    [Parameter] public string Text { get; set; } = "Procesando...";
}
